<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OSLite.Performance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OSQLite.Performance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OSQLite.Safety.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OSQLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B04CC80D1B63BCC700AA2372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B04CC81B1B63BCDC00AA2372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B04CC8351B71A67E00AA2372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B04CC8401B71A6A200AA2372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
